{% load staticfiles %}
{% load static %}
{% load bootstrap_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top-IT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- JS scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'app/listOfCotractors.css' %}">
</head>
<body>
    <div class="container">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="navbar-brand logo" src="{% static 'app/icons/logo.png' %}">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'lk' %}">Сотрудники</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Требования</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Справочник <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> Правила <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>

            <div>ЛК Подрядчика {{ user.username }}</div>
            <div style="margin-left: 30px"><a href="{% url 'logout' %}">Выход</a></div>
         </nav>
        {% block content %}
        {% endblock %}
    {% else %}
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <h3 class="page-header">Вход</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    {% endif %}
    <br>
    <footer class="container-fluid text-center">
      <p>Top-IT © 2019</p>
    </footer>
    </div>
</body>
</html>